#Robot{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.robot-head{
    background-color:rgb(55, 58, 125);
    height: 50px;
    width: 50px;
    border-radius: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 1px solid;
}
.robot-antenna-ball{
    background-color: rgb(126, 49, 143);
    height:8px;
    width: 8px;
    border-radius:5px;
    border: black 1px solid;
}
.robot-antenna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robot-antenna-stem{
    background-color:blueviolet;
    height: 8px;
    width: 2px;
    border: black 1px solid;
}
.robot-face{
    background-color: rgb(138, 152, 230);
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    border-radius:33% ;
    
}
.robot-eyes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.robot-eye-pupil{
    width: 30%;
    height:30% ;
    background-color: black;
    border-radius: 10px;
}
.robot-eye{
    background-color: white;
    height: 10px;
    width:8px;
    border-radius:5px ;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.robot-nose{
    width: 1px;
    height: 3px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 4px solid red;
    margin: 2px;
}
.robot-mouth{
    border: black 1px solid;
    width:13px ;
    height: 3px;
    border-radius:0 0 40% 40% ;
    background-color: white;
    animation: talking infinite alternate 2s;
}
.robot-body{
    background-color:rgb(58, 58, 118);
    position: relative;
    height: 100px;
    border: black 1px solid;
    border-radius: 10% 10% 0 0;
    width:100px;}
.robot-arm-left{
    left: -10%;
    top:6%;
    transform-origin: top right;
    transform: rotate(45deg);
    border-radius: 50%;
    animation: talking infinite alternate 1s;
}
.robot-arm-right{
    
   right: -10%;
    top:6%;
    transform-origin: top left;
    transform: rotate(-45deg);
    border-radius: 50%;
    animation: talking infinite alternate 1s;}

.robot-arm-left, .robot-arm-right{
    position: absolute;
    background-color:rgb(43, 18, 153);
    border: solid black 1px;
    width: 18%;
    height: 100%;
    
}

.robot-hand-left, .robot-hand-right{
    position: absolute;
    background-color:rgb(138, 152, 230);
    border: solid black 1px;
    border-radius: 200px/50px;
    bottom: -10%;
    width:100%;
    height: 10%;
}

.robot-leg-left, .robot-leg-right{
    background-color: rgb(43, 18, 153);
    border: solid black 1px;
    width: 18%;
    height: 50%;}
.robot-leg-left{
    position:absolute;
    top:100%; 
}
.robot-leg-right{
    position:absolute;
    top:100%;
    left: 80%;}
    .robot-shoes{
        position: absolute;
        background-color:#fff8dc;
        border: solid black 1px;
        border-radius: 200px/50px;
        bottom: -20%;
        width:100%;
        height: 20%;
    }
    
@keyframes talking{
    0%{
        border-radius: 0 0 40% 40%;
        width: 10px;
        height: 2px;
    }
    25%{
        border-radius: 0;
        width: 5px;
        height: 1px;
    }
    30%{
        border-radius: 50%;
        width: 1px;
        height:2px;
    }
}