header{
    background-color: #77623F;
    padding: 5%;
    
}
aside {background-color: #beb1a53e;
    
}

header>h1{
    font-family: 'Tangerine',cursive;
    font-size: 5rem;
    text-align: center;
}
    
header>h2{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    

}
aside>h1{
    font-weight: bolder;
    display: inline;
    line-height: 50px;
    font-size: 1.5rem;
}
section>h1{
    font-weight: bolder;
    display: inline;
    line-height: 50px;
    font-size: 1.5rem;
}

main{
    display: flex;
    flex-direction: row;
    
}
main>*{
    padding: 10%;
}
ul,li,h3,p{
    line-height:30px;
}
.duration,p{
    margin: 0;

}

h3{
    font-weight: bold;
}